
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Templates.cshtml";
}

<section class="modal fade bd-example-modal-xl" id="addTransaksiModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Tambah Transaksi</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>


            <div class="modal-body">

                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                @Html.Hidden("transid", "1")

                <div class="row">
                    <div class="col-6">
                        <!--Col Input-->
                        <div class="form-group">
                            <label for="tgl">Tanggal</label>
                            <div class="input-group date" data-provide="datepicker">
                                @Html.TextBox("tgl", "", new { @class = "form-control" })
                                <div class=" input-group-addon">
                                    <span class="glyphicon glyphicon-th"></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="contactmname">Customer</label>
                            @Html.DropDownList("customer", new SelectList((System.Collections.IEnumerable)ViewData["customer"], "id_customer", "nama_customer"),
                                 new { @class = "form-control" })
                        </div>

                        <div class="form-group">
                            <label for="sel1">Keterangan :</label>
                            @Html.TextArea("keterangan", "", new { @class = "form-control", rows = "3" })
                        </div>

                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="sel1">Total Bayar :</label>
                            @Html.TextBox("total_bayar", "", new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label for="sel1">Pajak :</label>
                            @Html.TextBox("pajak", "", new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label for="sel1">Bayar :</label>
                            @Html.TextBox("bayar", "", new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label for="sel1">Kembalian :</label>
                            @Html.TextBox("kembalian", "", new { @class = "form-control" })
                        </div>

                    </div>
                </div>
                <!-- Entry Details-->
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="contactmname">Customer</label>
                            @Html.DropDownList("transproduk", new SelectList((System.Collections.IEnumerable)ViewData["produk"], "id_produk", "nama_produk"),
                                 new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="sel1">Jumlah :</label>
                            @Html.TextBox("transjumlah", "", new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="sel1">Harga :</label>
                            @Html.TextBox("lbltransharga", "", new { @class = "form-control", disabled = true })
                            @Html.Hidden("transharga", "")
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="sel1">Total :</label>
                            @Html.TextBox("lbltranstotal", "", new { @class = "form-control", disabled = true })
                            @Html.Hidden("transtotal", "")

                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <input type="button" class="btn btn-primary" id="addDetailTransaksi" value="Add Detail" />
                        </div>
                    </div>

                </div>
                <!-- Entry Details-->
                <!--Datatable-->
                <table class="table table-striped table-bordered" style="width:100%" id="tbladddetailtransaksi">
                    <thead>
                        <tr>
                            <th>#ID</th>
                            <th>Produk</th>
                            <th>Jumlah</th>
                            <th>Harga</th>
                            <th>Total</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <!--End Datatable-->
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <input type="button" class="btn btn-primary" id="submitAddTransaksi" value="Simpan" />
            </div>



        </div>
    </div>
</section>

<header class="page-header">
    <div class="container-fluid">
        <h2 class="no-margin-bottom">Transaksi</h2>
    </div>
</header>

<!-- Dashboard Counts Section-->
<section class="dashboard-counts no-padding-bottom">
    <div class="container-fluid">
        <div class="row bg-white has-shadow">
            @* Untuk Isi Body *@

            <div class="table-responsive">
                <table class="table table-striped table-bordered" style="width:100%" id="tbl-transheader">
                    <thead>
                        <tr>
                            <th>#ID</th>
                            <th>Tanggal</th>
                            <th>ID Customer</th>
                            <th>Total</th>
                            <th>Pajak</th>
                            <th>Total Bayar</th>
                            <th class="text-center noExport">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var transaction in (dynamic)ViewData["headers"])
                        {
                            <tr>
                                <td class="details-control">
                                    <img id="imgdetails" src="../Content/Dashboard/img/details_open.png"
                                         rel="@Html.Encode(transaction.id_transaksi)" alt="expand/collapse" style="cursor:pointer" />
                                    @Html.Encode(transaction.id_transaksi)

                                </td>
                                <td>@Html.Encode(transaction.tanggal)</td>
                                <td>@Html.Encode(transaction.id_customer)</td>
                                <td>@Html.Encode(transaction.total_belanja)</td>
                                <td>@Html.Encode(transaction.pajak)</td>
                                <td>@Html.Encode(transaction.total_bayar)</td>
                                <td class="text-center text-nowrap">
                                    <a href="@Url.Action("Edit", "Kategori", new { id = transaction.id_transaksi})" class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="top" title="Edit Data"><i class="fa fa-edit"></i></a>
                                    <a href="@Url.Action("Delete", "Kategori", new { id = transaction.id_transaksi})" class="btn btn-danger btn-sm" id="btndelete" onclick="return confirm('Benar Akan Di Hapus data ini?');" data-toggle="tooltip" data-placement="top" title="Hapus Data"><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

